<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 MegaFon
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration  scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %-20X{MDC_TEST_NAME} - %msg%n</pattern>
        </encoder>
	</appender>

	<logger name="ru.histone.tokenizer.OldTokenizer">
		<level value="error" />
	</logger>
	<logger name="ru.histone.parser.OldParser">
		<level value="error" />
	</logger>

	<logger name="ru.histone.tokenizer.TokensMap">
		<level value="error" />
	</logger>
    <logger name="ru.histone.evaluator.Evaluator">
        <level value="error" />
    </logger>

    <logger name="ru.histone.acceptance.tests">
        <level value="error" />
    </logger>

	<root>
		<level value="error" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
